p{
    height: 200px;
    width: 200px;
    background-color: black;
    color: chocolate;
    text-align: center;
    border: 10px;
    border-radius: 50%;
    text-align: center;
    text-wrap:inherit ;
    margin-top: 50px;
    margin-bottom: 40px;
    transition: ease-in;
    transform: rotate(360deg);
    transition-duration: 5s;
    border-width: 10px;
}
